<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> 보여ZOOM </title>

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>

<body>
  <script>
    let xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {

        let myObj = JSON.parse(this.responseText);
        myObj = JSON.parse(myObj)


        for (var json_count = 1; json_count < Object.keys(myObj).length + 1; json_count++) { // 키워드가 Json 에 20개 들어있기때문에 리스트를 순회하면서 추가함

          console.log(json_count);
          naver_rank = document.getElementById("rank" + String(json_count));
          naver_rank.getElementsByTagName("span")[0].innerText = `${myObj[String(json_count)]["keyword"]}`; // 순위 키워드 ex) 1위 

          rank_contetns = document.getElementById("rank-" + String(json_count));
          rank_contetns.getElementsByTagName("span")[0].textContent = `# ${String(json_count)} ${myObj[String(json_count)]["keyword"]}`; // 순위 키워드 ex) 1위 



          // 1번 예제 //

          // rank_contetns.getElementsByClassName("n-img")[0].src = `${myObj[String(json_count)]["data"]["0"]["news_thumb"]}`;
          // rank_contetns.getElementsByClassName("n-img")[1].src = `${myObj[String(json_count)]["data"]["1"]["news_thumb"]}`;
          // rank_contetns.getElementsByClassName("n-img")[2].src = `${myObj[String(json_count)]["data"]["2"]["news_thumb"]}`;
          // rank_contetns.getElementsByClassName("n-img")[3].src = `${myObj[String(json_count)]["data"]["3"]["news_thumb"]}`;

          // rank_contetns.getElementsByClassName("n-title")[0].innerText = `${myObj[String(json_count)]["data"]["0"]["news_title"]}`;
          // rank_contetns.getElementsByClassName("n-title")[1].innerText = `${myObj[String(json_count)]["data"]["1"]["news_title"]}`;
          // rank_contetns.getElementsByClassName("n-title")[2].innerText = `${myObj[String(json_count)]["data"]["2"]["news_title"]}`;
          // rank_contetns.getElementsByClassName("n-title")[3].innerText = `${myObj[String(json_count)]["data"]["3"]["news_title"]}`;

          // rank_contetns.getElementsByClassName("n-description")[0].innerText = `${myObj[String(json_count)]["data"]["0"]["news_des"]}`;
          // rank_contetns.getElementsByClassName("n-description")[1].innerText = `${myObj[String(json_count)]["data"]["1"]["news_des"]}`;
          // rank_contetns.getElementsByClassName("n-description")[2].innerText = `${myObj[String(json_count)]["data"]["2"]["news_des"]}`;
          // rank_contetns.getElementsByClassName("n-description")[3].innerText = `${myObj[String(json_count)]["data"]["3"]["news_des"]}`;

          // rank_contetns.getElementsByClassName("n-link")[0].href = `${myObj[String(json_count)]["data"]["0"]["news_link"]}`;
          // rank_contetns.getElementsByClassName("n-link")[1].href = `${myObj[String(json_count)]["data"]["1"]["news_link"]}`;
          // rank_contetns.getElementsByClassName("n-link")[2].href = `${myObj[String(json_count)]["data"]["2"]["news_link"]}`;
          // rank_contetns.getElementsByClassName("n-link")[3].href = `${myObj[String(json_count)]["data"]["3"]["news_link"]}`;

          // 1번 예제 끝 //


          // 2번 예제 //

          for (var i = 0; i < 4; i++) {

            rank_contetns.getElementsByClassName("n-img")[i].src = `${myObj[String(json_count)]["data"][`${String(i)}`]["news_thumb"]}`;
            rank_contetns.getElementsByClassName("n-title")[i].innerText = `${myObj[String(json_count)]["data"][`${String(i)}`]["news_title"]}`;
            rank_contetns.getElementsByClassName("n-description")[i].innerText = `${myObj[String(json_count)]["data"][`${String(i)}`]["news_des"]}`;
            rank_contetns.getElementsByClassName("n-link")[i].href = `${myObj[String(json_count)]["data"][`${String(i)}`]["news_link"]}`;
          }

          // 2번 예제 끝 //
        }
      }
    };
    xmlhttp.open("GET", "/rank", true);
    xmlhttp.send();
  </script>



  <!-- section 01 start -->
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="header-box header-text margin">실시간 검색어 순위</h1>
      </div>
    </div>

    <!-- tab-name start -->
    <ul class="nav tab-line nav-pills padding">

      <li class="text-center tab-size margin active naver-color">
        <a class="site-nav tab-name naver padding" data-toggle="pill" href="#home">네이버</a>
      </li>

      <li class="text-center duam-color margin tab-size">
        <a class="site-nav tab-name daum padding" data-toggle="pill" href="#menu1">다음</a>
      </li>

    </ul>
    <!-- tab-name end -->

    <!-- tab-box start -->
    <div class="tab-content">
      <!-- naver tab start -->
      <div id="home" class="plus-margin tab-pane fade in active tab-box">
        <!-- naver row start -->
        <div class="row">
          <!-- 네이버 1위 ~ 5위 start -->
          <div class="col-sm-6 naver-tab-font ">
            <a class="none-deco" href="#rank-1" id="rank1">
              <h2>1. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-2" id="rank2">
              <h2>2. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-3" id="rank3">
              <h2>3. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-4" id="rank4">
              <h2>4. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-5" id="rank5">
              <h2>5. <span> </span></h2>
            </a>
          </div>
          <!-- 네이버 1위 ~ 5위 end -->

          <!-- 네이버 6위 ~ 10위 start -->
          <div class="col-sm-6 naver-tab-font">
            <a class="none-deco" href="#rank-6" id="rank6">
              <h2>6. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-7" id="rank7">
              <h2>7. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-8" id="rank8">
              <h2>8. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-9" id="rank9">
              <h2>9. <span> </span></h2>
            </a>
            <a class="none-deco" href="#rank-10" id="rank10">
              <h2>10. <span></span></h2>
            </a>
          </div>
          <!-- 네이버 6위 ~ 10위 end -->

          <!-- 더보기 추가 탭바 start -->
          <div class="col-sm-12">
            <!-- Plus button start -->
            <button data-toggle="collapse" data-target="#demo" class="text-center button-box">
              <i class="fas fa-plus learn-more-button"></i></button>
            <!-- Plus button end -->
            <!-- 네이버 11위~20위 start-->
            <div id="demo" class="collapse">
              <div class="col-sm-6 naver-tab-font padding">
                <a class="none-deco" href="#rank-11" id="rank11">
                  <h2>11. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-12" id="rank12">
                  <h2>12. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-13" id="rank13">
                  <h2>13. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-14" id="rank14">
                  <h2>14. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-15" id="rank15">
                  <h2>15. <span></span></h2>
                </a>
              </div>
              <div class="col-sm-6 naver-tab-font">
                <a class="none-deco" href="#rank-16" id="rank16">
                  <h2>16. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-17" id="rank17">
                  <h2>17. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-18" id="rank18">
                  <h2>18. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-19" id="rank19">
                  <h2>19. <span></span></h2>
                </a>
                <a class="none-deco" href="#rank-20" id="rank20">
                  <h2>20. <span></span></h2>
                </a>
              </div>
            </div>
            <!-- 네이버 11위~20위 end -->
          </div>
          <!-- 더보기 추가 탭바 end -->
        </div>
        <!-- naver row end -->
      </div>
      <!-- naver tab end -->

      <!-- daum tab start  -->
      <div id="menu1" class="tab-pane fade tab-box">
        <!-- daum row start -->
        <div class="row">
          <!-- 다음 1위 ~ 5위 start -->
          <div class="col-sm-6 daum-tab-font">
            <a class="none-deco" href="">
              <h2>1. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>2. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>3. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>4. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>5. <span></span></h2>
            </a>
          </div>
          <!-- 다음 1위 ~ 5위 end -->
          <!-- 다음 6위 ~ 10위 start -->
          <div class="col-sm-6 daum-tab-font">
            <a class="none-deco" href="">
              <h2>6. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>7. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>8. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>9. <span></span></h2>
            </a>
            <a class="none-deco" href="">
              <h2>10. <span></span></h2>
            </a>
          </div>
          <!-- 다음 6위 ~ 10위 end -->
        </div>
        <div class="col-sm-12 plus-margin-2 padding tab-box">
          <!-- Plus button start -->
          <button data-toggle="collapse" data-target="#demo1" class="text-center button-box">
            <i class="fas fa-plus learn-more-button"></i></button>
          <!-- Plus button end -->
          <!-- 네이버 11위~20위 start-->
          <div id="demo1" class="collapse">
            <div class="col-sm-6 plus-padding naver-tab-font padding tab-box">
              <a class="none-deco" href="">
                <h2>11. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>12. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>13. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>14. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>15. <span></span></h2>
              </a>
            </div>
            <div class="col-sm-6 naver-tab-font tab-box">
              <a class="none-deco" href="">
                <h2>16. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>17. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>18. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>19. <span></span></h2>
              </a>
              <a class="none-deco" href="">
                <h2>20. <span></span></h2>
              </a>
            </div>
          </div>
          <!-- 네이버 11위~20위 end -->
        </div>
        <!-- daum row end -->
      </div>
      <!-- daum tab end  -->
    </div>
    <!-- tab-box end -->
  </div>
  <!-- section 01 end -->
  <div class="container-fulid">
    <div class="v-content__wrap">
      <div class="header">
        <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"
          class="v-progress-linear theme--light">
          <div class="v-progress-linear__background"
            style="opacity: 1; left: 0%; width: 100%; background-color: rgb(200, 253, 211); border-color: rgb(200, 253, 211);">
          </div>
          <div class="v-progress-linear__buffer"></div>
          <div class="v-progress-linear__determinate"
            style="width: 0%; background-color: rgb(4, 207, 93); border-color: rgb(4, 207, 93);"></div>
        </div>
      </div>
      <!---->


      <div class="pa-2">
        <div id="rank-1" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- rank1 end -->

      <div class="pa-2">
        <div id="rank-2" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-3" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-4" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-5" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pa-2">
        <div id="rank-6" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-7" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-8" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-9" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-10" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-11" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="pa-2">
        <div id="rank-12" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="pa-2">
        <div id="rank-13" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="pa-2">
        <div id="rank-14" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="pa-2">
        <div id="rank-15" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="pa-2">
        <div id="rank-16" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-17" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-18" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-19" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="pa-2">
        <div id="rank-20" class="card"><span class="n-rank"><b class="rf">#1</b> </span>
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator">스포츠서울 3시간 전 네이버뉴스 </small> -->

                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 3시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"></p>
                  </a>
                  <!-- <small  class="n-creator"> 스포츠동아 4시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-3 col-12">
              <div class="article">
                <div class="left"><img src="" class="n-img"></div>
                <div class="right"><a class="n-link" href="" target="_blank">
                    <p class="n-title"> </p>
                  </a>
                  <!-- <small  class="n-creator"> 뉴시스 2시간 전 네이버뉴스 </small> -->
                  <p class="n-description"> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $('.none-deco').click(function () {
          $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
          }, 500);

          return false;
        });
      </script>

      <!-- rank20 end -->
      <div class="topBtn">
        <a href="#">Top</a>
      </div>
      <div class="downBtn">
        <a href="#rank-20">Down</a>
      </div>

      <script>
        $(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
              $('.topBtn').fadeIn();
            } else {
              $('.topBtn').fadeOut();
            }
          });

          $('.topBtn').click(function () {
            $('html, body').animate({
              scrollTop: 0
            }, 1000);
            return false;
          })
          $('.downBtn').click(function () {
            $('html, body').animate({
              scrollTop: 7200
            }, 1000);
            return false;
          });
        });
      </script>

    </div>
  </div>




  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/font-awesome.js"></script>
</body>

</html>